section.grid-filtro-lateral {
    display: grid;
    padding: 20px;
    box-shadow: 0px 1px 5px 0px #999;
    width: 50%;
}

h4.font-weight-bold {
    text-transform: uppercase;
}
.modal-backdrop.fade.show {
    display: none;
}
label.form-check-label{
    display: grid;
}
li.titulo {
    display: table;
}
section.grid {
    background: #efefef7a;
    padding-left: 35px;
    padding-top: 1px !important;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px 2px #dfdede;
}

.modal-dialog.modal-lg:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 60%);
    background: rgb(0 0 0 / 60%);
    z-index: 0;
}
.modal-dialog.modal-lg {
    z-index: 0;
}

header#header {
margin-top: -20px;
}
thead, tr, th {
    background: #fff !important;
}
ul.value-filtros {
    line-height: 30px;
    font-size: 17px;
}
ul.pl-5.ml-5.mt-5.col-lg-4.value-filtros {
    margin-left: 5% !important;
}
li.titulo.valor-global {
    background: #efefef;
    padding: 15px;
}
ul.mt-5.col-lg-5.value-filtros {
    margin-left: calc(100% - 101%);
}
.number-ata {
    border-bottom: solid 1px #c9c9c9;
}
input::placeholder {
    color: #000000ba !important;
}
.modal-content label {
    font-size: 17px;
}
.modal-body, select, input {
    border: solid 1px #00000054;
}
.modal-content.shadow {
    margin-top: calc(100% - 85%);
}
h4.font-weight-bold.ml-4 {
    margin-left: 21px !important;
}
@media screen and (min-width: 1600px) {
    ul.mt-5.col-lg-5.value-filtros {
        margin-left: calc(100% - 94.2%);
    }
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 110px !important;
}

.select2 {
    margin-top: 4px; !important;
}

.br-select .br-item.highlighted:not(.selected):not([selected]), .br-select .br-item[highlighted]:not(.selected):not([selected]) {
    background: #fff !important;
}
.br-select .br-item.highlighted:not(.selected):not([selected]) .br-checkbox label, .br-select .br-item.highlighted:not(.selected):not([selected]) .br-radio label, .br-select .br-item[highlighted]:not(.selected):not([selected]) .br-checkbox label, .br-select .br-item[highlighted]:not(.selected):not([selected]) .br-radio label {
    color: #000000d9 !important;
}
.number-ata  i.fas.fa-chevron-right:before {
    font-size: 30px;
}
li.col-lg-5.offset-7.titulo.mt-5 a:not(:disabled):hover {
    background: #fff0 !important;
}

i.fas.fa-eye:before {
    color: #1351b4 !important;
    font-size: 17px !important;
    margin-left: 5px;
}
table.table.table-bordered a.br-button.circle.primary.large.mr-3.br-button-row-table {
    background: none;
}

@media screen and (max-width: 800px) {
    button.br-button.primary.mr-3 {
        margin-top: 14px;
    }

    .col-lg-6.mt-5 {
        display: grid;
    }

    .number-ata nav.d-flex {
        display: grid !important;
    }

    i.fas.fa-chevron-right {
        margin-top: -31%;
        position: relative;
        margin-left: 26%;
    }

    .number-ata {
        width: 100%;
    }

    .col-lg-3.offset-9.d-flex {
        display: grid;
        margin-left: 0%;
        padding-top: 10px !important;
        padding-bottom: 20px;
    }
    .modal-body .col, [class*=col-] {
        padding-right: 14px!important;
    }
    .modal-body .br-input label {
        padding-right: 24px;
    }
    .modal-content.shadow {
        margin-top: calc(100% - 82%);
    }
}
@media screen and (min-width: 1185px) and (max-width: 1599px) {
    .number-ata i.fas.fa-chevron-right {
        margin-left: 30% !important;
    }
}
