.progress-saldo span{
    display: block;
}
.progress-saldo.success{
    color: #099600;
}
.progress-saldo.warning{
    color: #8c9600;
}
.progress-saldo.danger{
    color: #960016;
}
.progress-saldo progress{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 30px !important;
}
.progress-saldo.success progress[value]::-webkit-progress-value {
    background: #099600;
    border-radius: 30px !important;
}
.progress-saldo.success progress[value]::-moz-progress-bar {
    background: #099600;
    border-radius: 30px !important;
}
.progress-saldo.warning progress[value]::-webkit-progress-value {
    background: #8c9600;
    border-radius: 30px !important;
}
.progress-saldo.warning progress[value]::-moz-progress-bar{
    background: #8c9600;
    border-radius: 30px !important;
}
.progress-saldo.danger progress[value]::-webkit-progress-value {
    background: #960016;
    border-radius: 30px !important;
}
.progress-saldo.danger progress[value]::-moz-progress-bar{
    background: #960016;
    border-radius: 30px !important;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px !important;
}
