.contrato-item .select2-selection .select2-selection__rendered{
    white-space: nowrap !important;
    width: 97%;
}
.contrato-item span.select2-selection{
    min-height: 40px;
}

.valor-total input{
    background: #ccc;
}