<div class="br-message warning" role="alert">
    <div class="icon"><i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
    </div>
        <div class="content"><span class="message-title">:title</span> <br>
        <span class="message-body"> :body</span></div>
    <div class="close">
      <button class="br-button circle small" type="button" aria-label="Fechar"><i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>