.icones-adesao .badge {
    position: absolute;
    top: 48px;
}

.card-header .dataTables_filter {
    margin-bottom: -5px;
}

.card-header .dataTables_filter input {
    margin: 0 !important;
    height: 32px !important;
    margin-top: -10px !important;
}

.loading-table {
    margin-top: 50px;
    margin-bottom: 50px;
}

.badge a {
    text-decoration: none !important;
}

.analise-510, .solicitacao-3, .analise-3 {
    background: #a3a3a3 !important;

}

.analise-510 .arrow, .analise-3 .arrow, .solicitacao-3 .arrow {
    border-top-color: #a3a3a3 !important;
    border-bottom-color: #a3a3a3 !important;
}

.analise-507, .solicitacao-2, .analise-1 {
    background: #ffcd07 !important;
}

.analise-507 .arrow, .solicitacao-2 .arrow, .analise-1 .arrow {
    border-top-color: #ffcd07 !important;
    border-bottom-color: #ffcd07 !important;
}


.analise-508, .solicitacao-1, .analise-2 {
    background: #168821 !important;
}

.analise-508 .arrow, .solicitacao-1 .arrow, .analise-2 .arrow {
    border-top-color: #168821 !important;
    border-bottom-color: #168821 !important;
}

.analise-511 {
    background: #e52207 !important;
}

.analise-511 .arrow {
    border-top-color: #e52207 !important;
    border-bottom-color: #e52207 !important;
}

.analise-513 {
    background: #389718d6 !important;
}

.analise-513 .arrow {
    border-top-color: #389718d6 !important;
    border-bottom-color: #389718d6 !important;
}

.badge[class*='analise'] a, .badge[class*='analise'], .badge[class*='solicitacao'] a, .badge[class*='solicitacao'] {
    color: #FFF !important;
}

.br-list .loading {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}
.opacity{
    opacity: 0.3;
}