.half, .half .container > .row {
  height: 100vh; }

@media (max-width: 1300px) {
  .half .bg {
    height: 100%; } }

.half .contents, .half .bg {
  width: 100%; }
@media (max-width: 1199.98px) {
  .half .contents, .half .bg {
    width: 100%; } }

.half .bg {
  background-size: cover;
  background-position: center; }