@media (max-width: 1300px) {
  .half .bg {
    height: 100%; } }

.half .contents, .half .bg {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  @media (max-width: 1199.98px) {
    .half .contents, .half .bg {
      width: 100%; } }

.half .bg {
  background-size: cover;
  background-position: center; }

.footer-text {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: right;
  padding: 10px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .footer-text {
    position: static;
    text-align: right;
    padding: 10px;
  }
}

.button-custom-login {
  font-size: 1.40rem;
  height: 6vh;
  width: 82%;
  max-width: 400px;
}

@media (max-width: 600px) {
  .button-custom-login {
    font-size: 1rem;
    height: 40px;
  }
}

